* {
  font-family: Roboto, sans-serif;
}
:root {
  --main-color: rgb(0, 0, 0);
  --secondary-color: #feb703;
  --accent-color: #ff6600;
  --light-color: #ffffff;
}
/* GLOBAL CSS */
.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
  font-size: 1rem;
  cursor: pointer;
}

/* END OF */
body {
  background-color: var(--light-color);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__heading {
  margin: 2rem 0 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 3rem;
  margin: 2rem 0 0;
}
.main__heading {
  margin: 0;
  font-weight: 500;
  text-align: left;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main__imgContainer {
  overflow: hidden;
  border-radius: 50%;
  margin: 2rem;
}
.main__img {
  width: 100%;
}
.main__text {
  text-align: left;
  line-height: 1.5;
  font-size: 1.2rem;
}
.main__list {
  text-align: left;
  align-self: flex-start;
  padding: 0 2rem;
  margin: 0;
  line-height: 1.7;
  list-style: none;
}
.main__list li {
  position: relative;
}
.main__list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -2rem;
  top: -0.4rem;
  z-index: 10;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(./images/marca-de-verificacion.png);
}
.main__button {
  background-color: var(--accent-color);
  color: var(--main-color);
  align-self: flex-start;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-color);
  }
}
.section {
  background-color: var(--secondary-color);
  margin: 0;
  padding-bottom: 5rem;
}
.experience {
}
.experience__heading {
  margin: 0;
  padding: 4rem 4rem 0;
  font-weight: 500;
  text-align: center;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.experience__facts {
  text-align: center;
}
.experience__lista {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.experience__lista--item {
  border: 2px solid var(--main-color);
  padding: 1rem 4rem;
  border-radius: 1rem;
}
/* About */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
  text-align: center;
}
.about__heading {
  margin: 0;
  padding: 2rem 4rem 0;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.about__descripcion {
  font-size: 1.2rem;
}
/* Direction CSS */
.direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 4rem;
}
.direction__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.direction__list li {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  text-align: right;
  align-items: flex-end;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__heading {
  margin: 0;
  padding: 2rem 4rem 0;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.contact__text {
  font-size: 1.2rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.contact__form--name {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
}
.contact__form--email {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
}
.contact__form--message {
  border: none;

  padding: 0.5rem 0.5rem;
  height: 5rem;
  resize: none;
  font-size: 1rem;
}
.contact__form--btn {
  background-color: var(--main-color);
  color: var(--light-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.contact__fecha {
  margin: 0;
  font-weight: 300;
  font-size: 0.8rem;
}
